body {
  background-color: #BCB1D6;
}

address {
  font-style: normal;
}

h2 {

}

footer {
  color: #999;
}

hr {
  border-color: #8A70AA;
}

a {
  color: #555893;
  text-decoration: none;
}

a:hover {
  color: #B6C5E9;
}

label {
  font-size: 1.2em;
}

input {
  height: 2em;
  border: 1px solid #B6C5E9;
  border-radius: 5px;
  width: 25em;
  font-size: inherit;
}

#wrapper {
  background-color: #fff;
  border-left: 2px solid #8A70AA;
  border-right: 2px solid #8A70AA;
  border-bottom: 2px solid #8A70AA;
  padding: 0;
}

#main-header h1 {
  font-size: 2.5em;
  margin: 10px 0;
  color: #8A70AA;
}

#main-navigation {
  font-size: 1.1em;
  margin: 0.8em 0;
}

#main-navigation ul {
  margin-bottom: 1em;
  list-style: none;
  margin-bottom: 0;
}

#main-navigation ul li {
  margin-left: 0;
  display: inline;
}

#main-navigation ul li a { 
  text-decoration: none;
  color: black;
  padding: 5px 0.5em;
}

#main-navigation .nav-selected a,
#main-navigation ul li a:hover {
  font-weight: bold;
  border-bottom: 1px solid #8A70AA;
  color: #8A70AA;
}

#map-container {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
}

#appointment-container h3 {
  margin-top: 18px;
  margin-bottom: 5px;
}

#contact-information h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.hidden {
  display: none;
  margin: 0;
  padding: 0;
}

.spacer {
  margin-top: 1.25em;
}

.btn {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  line-height: 1.3em;
  background-color: #fff;
  border-color: #ccc;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-danger {
  color: #fff;
  background-color: #FF8181;
  border-color: #E25353;
}

.form-error {
  color: #E25353;
}

.form-error input {
  border: 1px solid #E25353;
}

.form-group {
  padding-top: 10px;
}

.form-actions {
  padding-top: 20px;
  padding-bottom: 10px;
}

.header-separator {
  margin: 2px 0;
  border-top: 3px solid #8A70AA;
}

.header-information {
  font-size: 1.125em;
  font-weight: bold;
}

.header-information address {
  display: inline;
  margin-bottom: 0;
}

.header-information .phone {
  float: right;
}

.available-appointment {
  width: 33%;
  margin: 5px 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.available-appointment .display-time {
  margin-left: 2em;
  font-size: 1.1em;
}

.gallery-item {
  text-align: center;
  margin: 1em auto;
}

.staff-profile {
  margin-bottom: 2em;
}

.staff-profile .image-container {
  padding-top: 6px;
  padding-bottom: 1em;
}

@media (max-width: 867px) {
  .header-information .phone {
    float: left;
  }

  .available-appointment {
    width: 95%;
  }

  .staff-profile .image-container {
    text-align: center;
  }

  .staff-profile .bio h3 {
    text-align: center;
  }
}