address {
  font-style: normal;
}

#map-container {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
  margin: 0;
  padding: 0;
}

.nav-selected {
  font-weight: bold;
}

.gallery-item {
  text-align: center;
  margin: 1em auto;
}

.staff-profile {
  margin-bottom: 2em;
}

.staff-profile .image-container {
  padding-top: 6px;
  padding-bottom: 1em;
}

@media (max-width: 867px) {
  .staff-profile .image-container {
    text-align: center;
  }

  .staff-profile .bio h3 {
    text-align: center;
  }
}